{% load static wagtailcore_tags wagtailuserbar %}
{% load i18n %}
{% load menus_tags %}
{% get_menu "menu" as navigation %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% endblock %}

            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'icons/icons_bs/font/bootstrap-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/lip-reader-website.css' %}">

        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} bg-light" style="height:100%;">
        {% wagtailuserbar %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top "> 
          <div class="container-fluid">
            <a class="navbar-brand" href="https://github.com/nkitan/Enhanced-Lip-Reading" style="font-size:22px;">Speech Read</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                </ul>

                <ul class="navbar-nav d-flex align-items-center">
                  <li class="nav-item active px-2">
                      <a class="nav-link" href="/" style="font-size:16px;">Home <span class="sr-only">(current)</span></a>
                  </li>
                      {% comment %} {% for item in navigation.menu_items.all %}
                      {% if item.title != 'Live'%}
                          <li class="nav-item active px-2">
                              <a href="{{ item.link }}" style="font-size:16px;" class="nav-link"{% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
                          </li>
                      {% endif %}
                      {% endfor %} {% endcomment %}
                  
                  <li class="nav-item active px-2">
                    <a href="/video-captioning/" style="font-size:16px;" class="nav-link" {% if item.open_in_new_tab %} target="_blank"{% endif %}>Captioning</a>
                  </li>
                  <li class="nav-item active px-2">
                    <a href="/about-page/" style="font-size:16px;" class="nav-link" {% if item.open_in_new_tab %} target="_blank"{% endif %}>About Us</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>


        <div class="container p-0" style="margin-top:20px;">
          {% block content %}{% endblock %}
        </div>

    </body>

    <br><br><br>
    <footer class="d-flex flex-wrap justify-content-between align-items-center pt-2 px-4 mt-4 pb-2 border-top shadow bg-dark text-white">
      <!-- Left Portion -->
      <ul class="nav col-md-6 justify-content-end">
        <li class="nav-item w-100 d-flex align-items-center justify-content-start py-2">© Speach Read</li>
        <li class="nav-item w-100 d-flex align-items-center justify-content-start py-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
          </svg>
          &nbsp;
          info@lipread.com
        </li>
      </ul>

      <!-- Right Portion -->
      <ul class="nav col-md-6 justify-content-end">
        <li class="nav-item w-100 d-flex align-items-center justify-content-end">
          <a href="https://cscita.sfit.ac.in/index.php" class="nav-link text-white p-1">
            Survey on Visual Speech Recognition using Deep Learning Techniques
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item w-100 d-flex align-items-center justify-content-end">
          <a href="#" class="nav-link text-white p-1">
            Research Paper on Visual Speech Recognition
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-data-fill" viewBox="0 0 16 16">
              <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
              <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5ZM10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V9a1 1 0 0 1 1-1Z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item w-100 d-flex align-items-center justify-content-end">
          <a href="#" class="nav-link text-white p-1">
            GitHub
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
        </li>
      </ul>
    </footer>
    <!-- Footer -->

            {# Global javascript #}

            <script type="text/javascript" src="{% static 'js/jquery.slim.min.js' %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% static 'js/popper.min.js' %}" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/lip-reader-website.js' %}"></script>
            <script>
              $(function () {
                $('[data-toggle="tooltip"]').tooltip()
              })
            </script>

            {% block extra_js %}
            {% endblock %}
</html>
